[2022-01-07 08:23] benpla opened #1 "sync with mdnotes-Addon Output"
I had this post also on [obsidian-Forum](https://forum.obsidian.md/t/new-plugin-citations-with-zotero/9793/318?u=bepl) as Reply:

I find your addon SUPER, even if it has not yet led to the goal or success with me.

I export Zotero items that I want to work with in Obsidian with the Zotero addon "mdnotes".
This creates Markdown files with the title
"@CITEKEY.md" (example: "@Akal_ea_2018_Distributed

[2022-01-07 22:13] daeh commented on #1
Thanks for posting this as an issue.

A work around here is to allow the user to specify a regex to pull the zotero ID from the metadata, in your case, `- local::`. I can definitely implement that. A question for you, I'm accustomed to MD metadata taking for form of
[code]

What metadata specification takes the format that yours uses?
[code]

[2022-01-08 03:00] daeh commented on #1
@benpla See if v0.0.2 works for you. I included the regex that I think you'll need in the readme

[2022-01-10 07:07] daeh commented on #1
closed via 7ac2d4aeafc9807d1f0cbb4c2619c9a3d8cceebd, but please reopen if this doesn't accommodate your use case

[2022-01-10 07:07] #1 closed

[2022-01-10 07:46] benpla commented on #1
Good Morning (from Germany),
bitte entschuldigen Sie meine späte Meldung, ich sitze erst jetzt wieder vor einem Computer.
Zuerst: TOLLE ARBEIT. Vielen Dank, @daeh !
Ich habe es getestet, es funktioniert hervorragend!

Ich habe noch eine weitere Bitte. Dafür öffne ich einen neuen Issue

[2022-01-10 07:53] benpla opened #2 "please search for Markdown-Files recursive (including Subfolders)"
It would be very nice if the path to the Markdown notes would be searched including the subfolders.

To explain my reasons:
I collect the literature notes in a folder, but I divide them by project, because I have several hundred citations per project and in this way I can quickly find all the literature for the project without searching.

[2022-01-10 08:16] daeh commented on #1
Great. Glad to hear it.

[2022-01-10 20:33] daeh commented on #2
@benpla update the addons (`Tools -> Add-ons -> Check for Updates`) and let me know if v0.0.4 works for you

[2022-01-11 07:58] benpla commented on #2
Many Thanks.
v0.0.4 works as expected and find .MD files in subfolders.

v0.0.5 breaks this: same preferences, but error message:
![Screenshot](https://user-images.githubusercontent.com/38682514/148902149-f11143f4-2527-46a2-98a7-ccaed8d84e48.png)

Preferences Regex:
[code]

Example of MD-File `@AlKhalifaAlRazgan_2016_IndoorGuidanceForVisuallyImpaired.md`:
[@AlKhalifaAlRazgan_2016_IndoorGuidanceFor

[2022-01-11 13:50] daeh commented on #2
I crossed a wire and switched to variable assignments. should work now. Fixed by 809cb0b4250e53fc213693bba85c422b75e76270

[2022-01-11 13:50] #2 closed

[2022-01-12 09:26] benpla commented on #2
I just tested it: it works great!!!
Your addon also detected 5 MD files that have no Zotero entry. I must have deleted once too much.... This way your plugin helps me to keep order and that's great.

I find the JSON-log files very nice, so I can track in detail which entry is missing and track down the cause.

Thanks a lot for the work!

[2022-01-12 19:58] WMAM opened #3 "Problems with the configuration of the plugin"
Hi @daeh thank you so much for your support.

According to your request in the forum, I am attaching two MD files from my obsidian notes. One of them (the first one) is an old file, created from notes generated with Acrobat reader some months ago. The other is a newly created one with the latest beta version of Zotero (63).

[@nimmoDielsAlderClick2011.md](https://github.com/daeh/zotero-obsidian-ci

[2022-01-12 21:54] daeh commented on #3
hi @WMAM. For these files, you'll need to export your library in the `BetterBibTex JSON` format (`File -> Export library`, click `Keep updated'), and then provide the path to that `json` file in the ZoteroObsidianCitations preferences. The reason is that this plugin needs to map your BBT citekeys (e.g. `nimmoDielsAlderClick2011`) to the Zotero Item IDs or Zotero Item Keys.

The other option (suppl

[2022-01-12 22:05] daeh commented on #3
There is a feature I could add, but it would only work if

(1) you have turned the hidden BBT setting [autoPinDelay](https://retorque.re/zotero-better-bibtex/installation/preferences/hidden-preferences/#autopindelay) on

OR

(2) all of the BBT citekeys in your MD notes are 'pinned' in Zotero.

When you pin a citekey, BBT add the citekey to the Extras field of the Zotero item, so I could potentiall

[2022-01-12 22:08] daeh opened #4 "map BBT citekeys to zotero IDs by searching extras field"
Re #3 . Would only work if

(1) the hidden BBT setting [autoPinDelay](https://retorque.re/zotero-better-bibtex/installation/preferences/hidden-preferences/#autopindelay) turned on

OR

(2) all of the BBT citekeys in the MD notes are 'pinned' in Zotero.

[2022-01-13 03:03] #4 closed

[2022-01-13 07:53] WMAM commented on #3
@daeh Following your suggestions ... After updating to version 0.8, I tried these two options:

1. Pinning the citekeys in Zotero: it didn't work for me (setting the hidden autoPinDelay option to 2 seconds). Maybe I did not configure it correctly, but the citekeys appeared to be pinned in Zotero.

2. I generated the BBT.json library, without removing the BBT.bib library (both active and auto-updat

[2022-01-13 08:25] daeh commented on #3
@WMAM So things are working for you now?

yes, for Option # 2, obsidian-citation needs the .bib export and this this plugin needs the .json, so you'll need both of those files.

If you're up for it, I'm curious why Option # 1 (pinning the citekeys) didn't work for you, so if you have a moment, please post the text in the Zotero `Extra` field of `@nimmoDielsAlderClick2011` and `@lindenmeyerSelfheal

[2022-01-13 08:31] daeh opened #5 "add function to generate debug file"
a button in the preferences plane that stores all of the note data and the extra field, for any item that has an issue, and exports to a json that can be submitted for tech support

[2022-01-13 23:44] WMAM commented on #3
Hi @daeh !
Sorry for being late with this... I have just tried the first option following these steps:
1. Deleted these two notes from the vault and sync (just to untag them)
2. Deleted the json library
3. **Mannually** pinned the citekey In Zotero (the pin icon appeared and the citekey in the Extra field)
4. Modified the setup of your plugin to activate the first option
5. Syncronized

... and it

[2022-01-13 23:48] WMAM commented on #3
I can work on this a little more if you want some other test.
I don't know why yesterday night it didn't work... may be now I have mannually pinned these citekeys?

[2022-01-13 23:51] WMAM commented on #3
I forgot to mention that the rest of the notes (not manually pinned), were untagged from the Zotero DB

[2022-01-13 23:52] daeh commented on #3
That's good to know! It sounds like the autoPin option isn't doing the same thing as manually pinning the citekeys. Only if you have the time, could you copy the text from the "Extra" field of a Zotero item that isn't manually pinned and paste it here (i.e one of the items that had the tag removed when you switched to Option 1)? I'm guessing that's the source of the issue.

[2022-01-13 23:56] daeh opened #6 "action to open MD note"
add contextual menu item to open the associated MD note

[2022-01-13 23:56] WMAM commented on #3
Yes, of course... but, I had deactivated the autoPinDelay from the hidden preferences...
Let me try to manually unpin these two items and reactivate the autoPinDelay

[2022-01-13 23:56] daeh commented on #6
should have the MD paths persist after syncing

[2022-01-14 00:01] daeh commented on #3
only if it's easy -- no need to go out of your way, but it might be informative if I can see the Extra field text.

So it sounds like you can either stick with option 2 (using both the .bib and the .json), or manually pin your citekeys and use option 1. Seems like either way works for you, so it's just up to your preference.

[2022-01-14 00:09] WMAM commented on #3
Don't worry, I already did it!
1. Manually unpinned these citekeys and untagged them
2. Set the autoPinDelay to 4, and forced to update the library
... and nothing appears on the Extra field, even after closing Zotero.

I am suspecting there is something missing to auto update the pins

[2022-01-14 00:11] daeh commented on #3
ok. that's very informative, thank you. I'll assume things are working for you now but let me know if you have any more issues.

[2022-01-14 00:12] WMAM commented on #3
yes, I can survive with both archives, ha, ha, ha!

Thank you so  much!

[2022-01-14 01:28] daeh commented on #3
Good to know! I was suspicious that BBT was waiting for the item to be modified in order to update the Extra field. I bet that if you now switch back to option 1, the `Citation Key:` data will stay in the Extra field and when you add new items to Zotero, BBT will immediately add `Citation Key:` to the new items. So you might not need the .json from here on out.

[2022-01-14 01:53] WMAM commented on #3
@daeh yes, you are right. I was just playing around and 4 seconds after a new item has been added, the citekey is pinned.

For items already in the Zotero library, once something is modified (a letter in any field or even a note is added to the item), the corresponding citekey is automatically pinned.

Yes, I will work with option #1.

BTW, it is interesting to be able to open a MD note from Zoter

[2022-01-14 02:07] daeh commented on #3
yep, thanks for confirming. #6 should be available soon.

[2022-01-14 02:07] #3 closed

[2022-01-14 02:38] #6 closed

[2022-01-14 02:41] daeh commented on #3
fyi @WMAM , v0.0.9 has a contextual item to open the MD notes in obsidian. You can update from Zotero's Add-on menu

[2022-01-14 02:49] WMAM commented on #3
Thank you for the information. I already took a look at it and it worked
great for me.

---------------
Waldo Argüelles

El jue, 13 ene 2022 a las 19:42, Dae ***@***.***>) escribió:

[2022-01-14 23:13] daeh opened #7 "add option to open note in default editor"
either as an option that dictates the contextual menu action or as another contextual menu item

[2022-01-15 19:32] daeh opened #8 "reveal MD note in system explorer"
contextual menu item to reveal MD note in system explorer

[2022-01-15 20:07] #8 closed

[2022-01-17 04:27] daeh opened #9 "enable keyboard shortcut to open md"
either internally or just expose the command to zutilo

[2022-01-18 04:42] daeh commented on #1
hi @benpla  - I made an update that means you'll no longer need to use an auto-updating BBT JSON file. Would you be up for trying the 0.0.11 pre-release and letting me know if works for you? https://github.com/daeh/zotero-obsidian-citations/releases/download/v0.0.11/zotero-obsidian-citations-0.0.11pre.xpi

[2022-01-18 05:00] daeh commented on #1
Hi @benpla - v0.0.11 removes the need for the BBT JSON library export. (Please let me know if it breaks anything!)

[2022-01-18 08:06] WMAM opened #10 "Bug with the last update!!!"
Zotero auto-updated the add-on, and after rebooting:
1. I can't enter into the Tools>Add-ons (no action!)
2. Looks like the BBT plugin is not working anymore
3. Your plugin does not update new notes from Obsidian

Zotero has no update, so it should not be a bug from their side.

EDIT: As the command menu "Add-ons" does not work, I can't even uninstall it.

[2022-01-18 14:27] daeh commented on #10
Hi @WMAM - That's extremely bizarre (I can't imagine what could prevent you from being able to open the Add-ons menu). Can you let me know what version of Zotero you're running so that I can try to reproduce it? Thanks for letting me know.

To disable the addon, you can run this code in the Javascript console (`Tools -> Developer -> Run JavaScript`):

be sure to check the "Run as async" box.
[code

[2022-01-18 15:52] WMAM commented on #10
Hi!
Thank you for your answer! I am running Windows 11 & Zotero 5.0.97-beta.63+035aac30f

I did not succeed to open the addon menu after running that code 2 or 3 times.

Restarting Zotero appears this message SliceObj Error:1

[2022-01-18 16:06] daeh commented on #10
@WMAM can you post the output of that code snippet here?

[2022-01-18 16:08] WMAM commented on #10
I don't know if this can help you... On Github v.0.11 says that the JSON library is not necessary anymore, but the ObsidianCitationPreference is still giving that option:
![imagen](https://user-images.githubusercontent.com/31582800/149974220-3cbefb58-e7e3-4816-bbdc-4dcf33f06029.png)

[2022-01-18 16:09] WMAM commented on #10
[
    "0": {
        "__AddonInternal__": undefined
        "seen": true
        "hasEmbeddedWebExtension": false
        "markAsSeen": markAsSeen() {...}
        "type": "extension"
        "isWebExtension": false
        "isAPIExtension": false
        "temporarilyInstalled": false
        "aboutURL": null
        "optionsURL": null
        "optionsType": null
        "optionsBrowserStyle": unde

[2022-01-18 16:23] WMAM commented on #10
Meanwhile, I restarted my PC because of a Windows update, and... SURPRISE: everything is running right now:

BBT & ObsidianCitation plugins are running
I can open the Add-on pane
and the ObsidianCitations Preference window has changed for a new one

[2022-01-18 16:28] daeh commented on #10
Cool. OK. that's great to know. You somehow had the addon installed twice, so you had both the v0.0.10 and v0.0.11.

Zotero handles the autoupdates, so I'm not sure how zotero could allow that to happen, but it's really good to be aware of.

Let me know if you run into any other issues!

[2022-01-18 16:28] #10 closed

[2022-01-18 16:38] WMAM commented on #10
Thank you... have a nice day!

[2022-01-22 02:50] WMAM opened #11 "bug at startup of Zotero"
Hi @daeh !
Just to report a minor bug. When launching Zotero, the following message appears:
![imagen](https://user-images.githubusercontent.com/31582800/150621905-7a1740db-5643-4463-8400-7256e077304f.png)

After that, no other issue, the plugin continues to work fine

[2022-01-22 05:23] daeh commented on #11
Thanks for the heads up. It probably means that it's having trouble parsing some setting. Would you mind running this code snippet (`Tools -> Developer -> Run Javascript`) and posting the output?

[code]

[2022-01-22 17:53] WMAM commented on #11
Sorry for being late...

{
    "prefs": {
        "matchstrategy": "bbtcitekey"
        "source_dir": "C:\\Obsidian\\Zettelkasten"
        "zotkeyregex": ""
        "metadatakeyword": ""
    }
    "config": {
        "matchstrategy": "bbtcitekey"
        "zotkeyregex": ""
        "metadatakeyword": ""
        "checkSetting": true
    }
    "results": {
        "cleanrun": true
        "ndataKeys":

[2022-01-23 05:53] daeh commented on #11
I'm not sure what's going on, but it's possible that it's failing to find BBT at initialization. If you're up for helping me sort it out, here's a version with an extra debugging trace. You can manually install it (`Tools -> Add-ons -> Remove ZoteroObsidianCitations`, `Install Add-on From File -> zotero-obsidian-citations-0.0.13alpha.xpi`, then restart Zotero. If you get the same error, run this c

[2022-01-23 06:54] WMAM commented on #11
Yes, the error persisted after changing to the v0.13alpha. Here is the output:

{
    "version": "0.0.12"
    "zoteroVersion": "5.0.97-beta.63+035aac30f"
    "isMac": false
    "isLinux": false
    "isWin": true
    "prefs": {
        "matchstrategy": "bbtcitekey"
        "source_dir": "C:\\Obsidian\\Zettelkasten"
        "zotkeyregex": ""
        "metadatakeyword": ""
    }
    "config": {

[2022-01-23 07:16] daeh commented on #11
yep, that's what's going on (ZOC fails to communicate with BBT at launch, then BBT becomes available later).

I thought that I had totally over-engineered the BBT initialization check, but it seems that it wasn't enough. I'll take a look at what I might be able to improve. Thanks for the feedback, it's very helpful.

[2022-01-23 07:23] WMAM commented on #11
Just in case it is useful...

The context options like "Open ObsidianMD note", do not appear until a manual sync is run.

[2022-01-23 07:25] WMAM commented on #11
... and BBT plugin was last updated on January 21. Maybe they changed something in their plugin

[2022-01-23 07:55] daeh commented on #11
see if this solves it:

https://github.com/daeh/zotero-obsidian-citations/releases/download/v0.0.13beta/zotero-obsidian-citations-0.0.13beta.xpi

[2022-01-23 08:00] WMAM commented on #11
Yes... it did!

[2022-01-23 08:03] daeh commented on #11
great. thanks for reporting the issue

[2022-01-23 08:03] #11 closed

[2022-01-30 13:45] TakuanPickle opened #12 "Allow matching to notes not beginning with @"
Loving the concept behind this plugin, anything that gets the Zotero+Obsidian bond stronger is amazing. Thank you!

I'm not sure the feasibility of this request, but is it possible to remove the limitation of .md notes starting with a '@'? I'm sure it would allow this plug-in to integrate with a broader array of workflows.

[2022-01-30 15:48] daeh commented on #12
totally feasible and fairly easy to implement. I was mostly just putting it off until someone requested it. I'll add it to next release, which I'll hopefully have a chance to work on this week.

[2022-01-31 00:17] WhatABloooke commented on #12
Beautiful, thank you so much 😄

[2022-02-07 02:45] daeh commented on #9
related from zotero forums https://forums.zotero.org/discussion/94322/is-there-any-way-to-link-to-an-obsidian-note-from-zotero

[2022-02-09 05:54] daeh commented on #12
Hi @TakuanPickle -- let me know how v0.0.14a works for you https://github.com/daeh/zotero-obsidian-citations/releases/tag/v0.0.14a

[2022-02-09 19:11] WMAM opened #13 "The plugin is not working with the new Zotero 6.0-beta"
As far as I understand, most plugins are affected. Here are more details:

https://forums.zotero.org/discussion/94418/6-0-beta-plugins-cannot-be-installed

It seems the manifest should be updated to be compatible with the new v6.0-beta:

![imagen](https://user-images.githubusercontent.com/31582800/153272704-83ae82e0-defc-4001-b183-8653fd221584.png)

[2022-02-09 19:14] daeh commented on #13
Thank you for the heads up! I'll get the 6 beta make the updates. hopefully, it will really be as easy as updating the manifest.

[2022-02-09 22:15] daeh commented on #13
should be resolved by ae9f1fe0e18534bc71d1d90b64223c0e831b932f

[2022-02-10 05:15] TakuanPickle commented on #12
Hi @daeh It's working a

[2022-02-10 05:19] TakuanPickle commented on #12
Hi @daeh

It's working a lot better, finds files in my vault without the @ now :) thank you for implementing that!

I'm getting this error when I go to use the 'Open ObsidianMD Note' function though:
![image](https://user-images.githubusercontent.com/74401804/153342320-12868761-b2c8-4e04-81a4-0083487fa972.png)

My current settings:
![image](https://user-images.githubusercontent.com/74401804/153342

[2022-02-10 05:43] daeh commented on #12
I bet that supplying a vault ID will fix this. It's easy to implement, but it's odd that it seems to work for most people without the vault param, but for you it throws an error. So two things would be useful:

1) If you copy the URI for that note from within Obsidian, how does it compare to URI that throws an error?
<img width="323" alt="CleanShot 2022-02-10 at 00 36 58@2x" src="https://user-imag

[2022-02-10 07:54] TakuanPickle commented on #12
It is odd!

So I turned off any URI related plug-in and have run some tests on a note that is just in the root folder of my vault. The error still persists.

URI from Obsidian is: `obsidian://open?vault=Takuan&file=levi-strauss1973_HoneyAshes`
URI from the error is: `obsidian://open/?path=C%3A%5Clevi-strauss1973_HoneyAshes.md`

Would it be anything to do with Obsidian Sync? I'm not sure if that gi

[2022-02-10 08:14] daeh commented on #12
looks like there's an errant `/` in the URI that's causing an error. It should be `obsidian://open?` not `obsidian://open/?`. That's very weird, I'm not sure where the `/` is coming from.

While I'm looking into it, will you test if this link works?
(a) `obsidian://open?path=C%3A%5Clevi-strauss1973_HoneyAshes.md`
and if it doesn't, test if this one does:
(b) `obsidian://open?vault=Takuan&path=C%3A

[2022-02-10 08:38] TakuanPickle commented on #12
super weird! I'm on Windows 10:

[code]

Obsidian version v0.13.24 (insider).

As I've set my ZotObsCite folder to my vault root the debug file is both huge and contains personal information. Is there anything I can find in there for you? This is the entry for the example note we're looking at:
[code]
and everything before the vault scan:
[code]

Neither of those two URIs work. The only one that i

[2022-02-11 00:22] TakuanPickle commented on #12
Oh, so I moved the file since the first post because the URL was getting cut off! I just thought it would be easier to see and debug if it was in the root folder. Sorry if that wasn't clear!

actual path is `C:\takuan\levi-strauss1973_HoneyAshes.md`.
The URI I get from Obsidian is `obsidian://open?vault=Takuan&file=levi-strauss1973_HoneyAshes`.

I just realised that I copied out the error URI wron

[2022-02-11 00:33] daeh commented on #12
cool thanks. Does this URI work?

`obsidian://open?vault=Takuan&path=C%3A%5Ctakuan%5Clevi-strauss1973_HoneyAshes.md`

[2022-02-11 01:03] TakuanPickle commented on #12
no, it doesn't, same 'unable to find vault' error :(

[2022-02-11 03:37] daeh commented on #12
ok, i'll add an option to use the `file=` param rather than the `path=` param. No idea why you're having issues -- there are a number of things here that seem weird, but it looks like the `file=` uri should work for you.

[2022-02-12 02:20] TakuanPickle commented on #12
okay, hopefully that will work! thanks for your time puzzling this out with me.

[2022-02-16 09:48] halloichbingunnar commented on #7
Thank you @daeh for your plugin! I love your idea how to better connect Zotero with a proper markdown editor/knowledge management.

I am myself not using Obsidian but Zettlr – but the option "open in default editor" would enable opening the file directly in any markdown environment, as long as it is set as the standard app, right?

(Right now I stick with "Show file" and then open the file manuall

[2022-02-16 09:58] halloichbingunnar opened #14 "Option to change tag name"
Hi, is there a possibility to change the tag ObsCite attaches to the Zotero items?

Use case: I use the coloured tags in Zotero to indicate the status of the item. It moves from red="to read" or "to skim" to orange="read" and eventually green="finished notes" or violet="worth a second look".
It would be really nice if it was possible to integrate the ObsCite tag into that workflow smoothly :)

Tha

[2022-02-24 03:05] daeh commented on #14
Hi @halloichbingunnar  - it's certainly possible to add a setting that lets you specify a string other than `ObsCite` for the tag name. Is that all that you're suggesting? Or are you asking if ZotObsCite can dynamically update the tag name based on the status of the item? If the later, where is the status indicated (e.g. in the metadata of the MD note)?

[2022-02-24 09:56] halloichbingunnar commented on #14
Haha, actually, that was all I was asking for 🙃 – but the other option sounds interesting, too! So in the second option, the standard tag ObsCite attaches to a zotero item could be changed by including a section in a yaml header?

[code]

[2022-02-24 15:30] daeh commented on #14
Let's make this issue specific to the first idea, since that's really straight forward to implement. If at some point there's a clear use case for a dynamic tag I can think about it more, but I don't currently see much utility in it. I'll aim to put an option to customize the tag name into the next release.

[2022-03-07 22:32] daeh commented on #14
@halloichbingunnar will you give `v0.0.15a` a go and see if the custom tag works for you? https://github.com/daeh/zotero-obsidian-citations/releases/download/v0.0.15a/zotero-obsidian-citations-0.0.15a.xpi

[2022-03-08 05:08] daeh commented on #12
@TakuanPickle please give `v0.0.15a` a try and let me know if the advanced option to use the 'file' URI works for you https://github.com/daeh/zotero-obsidian-citations/releases/download/v0.0.15a/zotero-obsidian-citations-0.0.15a.xpi

[2022-03-08 08:14] halloichbingunnar commented on #14
works fine, thank you!

[2022-03-08 18:33] daeh commented on #14
closed by 929a3b1359b05c06e836863e42a20a80f38f4322

[2022-03-08 18:33] #14 closed

[2022-03-08 18:33] daeh commented on #12
closed by 67e2fa298e9832eae744c312a294776c15274b29 but please reopen if there are issues

[2022-03-08 18:33] #12 closed

[2022-03-08 18:34] daeh commented on #5
closed by 929a3b1359b05c06e836863e42a20a80f38f4322

[2022-03-08 18:34] #5 closed

[2022-03-12 01:10] daeh commented on #7
Hi @halloichbingunnar — It's pretty easy to implement the 'open in default editor' function for MacOS, but it's much harder to do in a reliable cross-platform way. I could consider making the 'default editor' option available conditional on the OS. What OS are you on?

[2022-03-12 01:12] daeh opened #15 "Support Zettlr as MD editor"
related to #7

[2022-03-12 01:14] daeh opened #16 "Support logseq as MD editor"
open logseq issue for global URI: https://github.com/logseq/logseq/issues/2890#issuecomment-939699032

related forum post: https://discuss.logseq.com/t/deep-linking-or-url-scheme-allow-linking-to-logseq-pages-from-outside-the-app/3146/20

original request for ZotObsCite support: https://twitter.com/DavidJaggi/status/1484130826635853825

[2022-03-13 09:01] halloichbingunnar commented on #7
I'm really sorry: I'm on windows... 😬

[2022-03-20 03:25] iukv opened #17 "Support finding notes linked to items in Zotero Group Libraries when Syncing Tags."

[2022-03-22 18:33] erazlogo opened #18 "plugin cannot find notes in Obsidian folder"
So I linked the plugin to a folder in Obsidian "~/obsidian/cinema-project/1. Notes" but when I restart Zotero the message I get "no notes found." Is that  because there is a space in the name of the folder? Thanks!

[2022-03-23 04:44] daeh commented on #18
spaces in the path shouldn't be an issue. What the filepath to an existing Obsidian reading note? Will you generate a debugging log from the advanced settings and upload it here?

<img width="727" alt="image" src="https://user-images.githubusercontent.com/12652166/159625616-af72aaac-a76e-4c70-b018-f2ee7756070b.png">

[2022-03-23 20:39] erazlogo commented on #18
here is the log. I am trying to find all notes where in YAML there is a valid citekey field--there are 517 notes and most of them have the citekey field in YAML. I don't have literature notes, I include source data for every note from the source. thanks!

{
 "version": "0.0.15",
 "zoteroVersion": "6.0.2",
 "isMac": true,
 "isLinux": false,
 "isWin": false,
 "prefs": {
  "matchstrategy": "bbtciteke

[2022-03-23 22:52] daeh commented on #18
what's the path to one of the MD files in `~/obsidian/cinema-project/1. Notes/` that is associated with a Zotero item? Go ahead and upload the contents of the MD file too.

[2022-03-23 22:58] erazlogo commented on #18
~/obsidian/cinema-project/1. Notes/a silent nazi and a soviet film at nuremberg.md

here is the entire file:

---
type: "journalArticle"
author: "Douglas, Lawrence"
title: "The Shrunken Head of Buchenwald: Icons of Atrocity at Nuremberg"
publication: "Representations"
date: "1998-01-01"
online: "[online](http://zotero.org/users/40/items/XEYH4B8K)"
local: "[local](zotero://select/items/_XEYH4B8K)"

[2022-03-23 23:30] daeh commented on #18
You should read the documentation about how to configure the settings on the homepage.

The default expectation is that your reading notes all begin with `@{{citekey}}`, e.g. `@douglasShrunkenHeadBuchenwald1998.md`. If you'd like your MD files to be named differently, you can define a custom regex pattern using the "Custom File Filter": If you want the plugin to try to match all of the files in th

[2022-03-24 00:37] erazlogo commented on #18
It worked, thank you! Sorry for the question--I don't understand regex very well so would not have been able to change it correctly myself in the settings.

I have 45000+ Zotero items and it didn't take a long time at all to mark 351 items.

I did get an error for the notes that did not have a citekey - "Unable to parse 84 of 517 notes" - could that possibly be suppressed? If you search all notes

[2022-03-24 01:15] daeh commented on #18
Thanks for the benchmark. I haven't tested the plug in a database that large so it's great to know that it works ok.

The 2 recommended strategies are:

(1) to used a file naming pattern that unique to your reading notes. The [citations](https://github.com/hans/obsidian-citation-plugin) plugin suggests `@{{citekey}}`.

(2) use a separate folder for your reading notes.

Either strategy will result

[2022-03-25 17:04] daeh commented on #18
closing but feel free to reopen if you want to describe a use-case that should be supported.

[2022-03-25 17:04] #18 closed

[2022-04-14 23:04] osaze-nosaze opened #19 "notes list incomplete in context menu"
Hi there!
Thanks for this plugin. I find, however, that when I right-click in Zotero on an Obsidian-Zotero synced item and point to "Open ObsidianMD Note" or "Show Markdown File" I only get a list that seems limited to 16 Obsidian notes although I may have many more notes with the relevant Zotero itemkey. I cannot seem to find any button to scroll down to see other notes or some other means to see

[2022-04-15 14:52] daeh commented on #19
That's the intended behavior. The workflow that inspired this plugin assumes there is only 1 MD note per Zotero Item. I relaxed that restriction to allow multiple notes per item, in case people had notes in different folders, or didn't realize that they had multiple notes. But number is capped at something like 16. Having that many MD notes for a single Zotero item is a different use case than the

[2022-04-15 14:56] daeh commented on #19
More specifically, it sounds like you're using the plugin to find every MD files where a zotero item is referenced, which is a different use case. This plugin is designed around the idea that there's one MD files where you take notes on a given Zotero item. Other notes then link to that main note, not the Zotero item itself, and to find those notes you'd use the Obsidian backlink function.

[2022-04-15 19:14] osaze-nosaze commented on #19
Hi, dae
Thanks for your explanations. I cannot say whether mine is a common use case, as it is possible I am using the plugin how it is not meant to be or expecting it to function how it is not meant to. The reason, I am sure, that multiple notes show up on the contextual menu is that I practice the smart note zettelkasten method (or am trying to). Yes, I have a hub note for each source but do not

[2022-04-19 16:00] phretor opened #20 "Support shared libraries"
Are there plans to support reading from multiple BBT or JSON library files? I work on several group libraries (one per project).

[2022-04-19 16:49] daeh commented on #20
It makes sense to support group libraries. The only non-trivial thing is to deal zotero items that appear in multiple libraries, since the the plugin currently assumes that a MD file should point is a single zotero item. That constraint exists mostly because it protects against configuration mistakes. I'll think about a user-friendly way to keep the configuration guardrails while also allowing for

[2022-04-20 08:14] phretor commented on #20
It does support group library exports already: I can easily export any group library into a bib/json file and link it under the `Citations database path`.

My proposed enhancement is to allow multiple bib/json files, so that users could cite content from multiple bib/json files (i.e., multiple libraries).

Conflicts (i.e., same citation key) could be resolved by keeping the largest or most recent

[2022-04-21 09:37] jvluyn opened #21 "APA request"
Hello, is there a way to create citations in APA style? The biggest issue is the way authors are shown ->

The basic format for a book citation requires listing the author's name, the title of the book, the publisher's name, and the date of publication.

Jakupcak, M., Luterek, J., Hunt, S., Conybeare, D., & McFall, M. (2008). Post-traumatic stress and its relationship to physical health functionin

[2022-04-21 14:27] daeh commented on #21
This question doesn't seem related to the zotero-obsidian-citations plugin. Perhaps it's a question for the Zotero forums?

[2022-04-21 14:27] #21 closed

[2022-04-22 12:11] EFFORTSUN opened #22 "How can two devices share the same exported my library.json"
Hello, I have a question, I have zotero installed on both devices, and the data has been synced, export a my library .JSON on one device, and create the corresponding MD notes, how do I do it on the other device What about syncing notes and annotations using my library exported on the first device?

[2022-04-22 14:31] #20 closed

[2022-04-22 14:33] daeh commented on #22
I'm don't understand the question. Are you sure it's one for this plugin and not [hans/obsidian-citation-plugin](https://github.com/hans/obsidian-citation-plugin)?

[2022-04-25 09:59] davidjaggi commented on #16
It's now possible to open Logseq pages via URI. So this enhancement should be possible to implement.
https://github.com/logseq/logseq/releases/tag/0.6.6

[2022-05-11 19:53] #22 closed

[2022-05-16 22:56] mgmeyers opened #23 "Error displays every time zotero starts"
Whenever I open zotero, I see this error from this plugin:

<img width="302" alt="Screen Shot 2022-05-16 at 3 51 38 PM" src="https://user-images.githubusercontent.com/2694747/168695015-a6acd919-ba02-49c7-bf3a-5e80590f6b89.png">

Everything seems to work ok, though. Just thought I'd report it in case there's some undefined behavior occurring.

[2022-05-17 01:05] daeh commented on #23
hi @mgmeyers — That means that there's some mismatch between your MD files and Zotero database. That can happen if you change the BBT citekeys in Zotero and don't update the citekey in the corresponding MD file. If you manually invoke sync from the Tools menu:
`Tools` > `ZoteroObsidianCitations Sync Tags...`

you should be prompted to save an error report. The report will tell you which items cann

[2022-05-17 02:17] mgmeyers commented on #23
Ah, great, thanks. Fixing those files did the trick!

[2022-05-17 02:17] #23 closed

[2022-05-18 04:48] phretor commented on #17
I second this!

[2022-05-18 20:54] daeh commented on #17
I'll put this on the roadmap. Will hopefully be included in the next release

[2022-05-18 21:42] daeh commented on #17
@iukv @phretor please try out the `v0.0.17a` prerelease and let me know how it works for you.

You can turn on matching for group libraries in the advanced preferences.

You'll need to add assign a color to the ObsCite tag in each group library (in the tags plane, right click on the ObsCite tag, "Assign Color...").

https://github.com/daeh/zotero-obsidian-citations/releases/tag/v0.0.17a

[2022-05-19 07:11] davidjaggi commented on #16
So the settings would be similar to the ones for Obsidian. All of the Zotero imports into Logseq start with an @ which is the default setting. This is the Logseq URL for my reference in the knowledge graph with the logseq://graph/knowledge?page=%40declercqMultilabelClassificationInteractive2019.

[2022-05-19 07:49] phretor commented on #17
Mh, doesn't seem to be picking up anything.

[2022-05-19 08:01] phretor commented on #17
Nevermind, I noticed I was using lowercase citekeys. Now it find matches!

[2022-05-27 10:41] cordovero opened #24 "Sync won't parse"
Running the sync can't match items or parse items even though yaml citekey is present and custom filter set to .+\.md$
Any help would be immensely appreciated.

I get this in the report:

[
 {
  "citekey": null,
  "citekey_metadata": null,
  "citekey_title": null,
  "zotkeys": [],
  "zotids": [],
  "name": "holbraad_ruptures_2019",
  "path": "/Users/binou/switchdrive/Thèse/Thoughts/Research Annota

[2022-05-27 16:09] daeh commented on #24
It looks like, for whatever reason, ZOC isn't able to read the `citekey` from the MD metadata. Can you upload the `walter_uncertain_2006.md` file?

[2022-05-27 16:29] cordovero commented on #24
[walter_uncertain_2006.md](https://github.com/daeh/zotero-obsidian-citations/files/8788081/walter_uncertain_2006.md)

Here it is, I hope it helps!

[2022-05-27 18:40] daeh commented on #24
It's what I expected. There's a new line before the first ```---``` of the frontmatter. MD syntax requires that metadata begin on the first line. Let me know if removing the blank new at the head of the documents don't resolve your issue.

[2022-05-27 18:44] daeh commented on #24
(If you want more info on configuring yaml front matter: https://help.obsidian.md/Advanced+topics/YAML+front+matter )

[2022-05-27 18:54] cordovero commented on #24
That solved it! Thank you so much. I can't believe I didn't notice the extra line...

[2022-05-27 18:55] #24 closed

[2022-05-27 18:55] #17 closed

[2022-06-04 17:54] daeh commented on #16
@davidjaggi will you take https://github.com/daeh/zotero-obsidian-citations/releases/download/v0.0.18a/ZotObsCite-0.0.18a.xpi for a test drive and let me know how it works for you?

[2022-06-04 17:56] daeh commented on #16
also @keQsia

[2022-06-04 18:31] daeh commented on #15
@halloichbingunnar will you take https://github.com/daeh/zotero-obsidian-citations/releases/download/v0.0.18a/ZotObsCite-0.0.18a.xpi for a test drive and let me know if the advanced option to open notes in the system's default editor integrates with Zettlr in the ways that you want it to?

hopefully supports #7

[2022-06-04 18:56] daeh commented on #7
Support for opening MD files in the system's default editor added in the alpha release [v0.0.18a ZotObsCite-0.0.18a.xpi (download)](https://github.com/daeh/zotero-obsidian-citations/releases/download/v0.0.18a/ZotObsCite-0.0.18a.xpi)

[2022-06-05 06:10] keQsia commented on #16
Are you sure it works for logseq? It looks weird.
![图片](https://user-images.githubusercontent.com/60851379/172037741-7c12c218-e4ec-4881-8108-d9bc369ea854.png)

[2022-06-05 15:54] halloichbingunnar commented on #15
sure! just installed it, works perfectly fine - thank you very much! :)

[2022-06-05 16:07] daeh commented on #15
closed by 0c176e7b7b236c719f3fa1e3839b28e7cd5e8030

[2022-06-05 16:07] #15 closed

[2022-06-05 16:07] daeh commented on #7
closed by 0c176e7b7b236c719f3fa1e3839b28e7cd5e8030

[2022-06-05 16:08] #7 closed

[2022-06-10 07:13] davidjaggi commented on #16
@daeh The plugin works nicely for me. I can open all my linked items in Logseq.

[2022-06-10 15:42] #16 closed

[2022-07-14 17:10] quarkquartet opened #25 "Modify colon in citekey"
I have a few papers whose citekeys are pinned from inspirehep by betterbibtex. Those citekeys include colons. e.g. citekey: Co:2022jsn

I use the citekey as the title in Obsidian notes. Obsidian does not allow colon in the file title, and it changes ":" to "_".

In this case, how can I set the file filter? Of course, the following does not work.

<img width="758" alt="image" src="https://user-imag

[2022-07-14 17:43] daeh commented on #25
Hi @quarkquartet – The file filter doesn't take handlebar expressions, it's pure regex. So define a regex that captures all of the reading notes and then pull the citekeys from the yaml metadata (where colons are allowed).

If that doesn't make sense or you have trouble getting it to work, upload an example MD file and I can help with the regex & yaml settings (also tell me how the reading notes a

[2022-07-14 18:08] quarkquartet commented on #25
Thanks! My title is simply "citekey.md" so I use regexp ".*\.md$" to match all the md files. That works.

[2022-07-14 18:13] daeh commented on #25
Ok. I presume that's "{{citekey}}.md" not literally "citekey.md". For that, make sure to escape the `.` in `.md`. I'd suggest the regex `.+\.md`

cheers

[2022-07-25 09:20] fruchtblase opened #26 "matching via filename (without @) does not work for me"
Dear @daeh,

for some reason the plugin won't work for me. The correct md files get picked up by the regex, and the corresponding citekeys are given to the plugin by bbt, but the don't get matched.
Am I doing something wrong or is this a bug?

[MarkDBConnect-debug.txt](https://github.com/daeh/zotero-markdb-connect/files/9179715/MarkDBConnect-debug.txt)

Kind regards
fruchtblase

[2022-07-25 16:08] daeh commented on #26
hi @fruchtblase you have configuration issues. First off, the file filter you're using, `\d{4}.md`, is not doing what you think it's doing. Try using:

`^.+\d{4}\.md`

That alone might resolve your issues.

(But if it doesn't, please upload one of your MD notes and I'll give you advice on how to match the BBT citekeys)

[2022-07-25 16:30] fruchtblase commented on #26
thanks for the quick reply!
looks like I misunderstood the readme, i thought that it is possible match on filenames (sans @)  without relying on metadata.

[2022-07-25 16:38] daeh commented on #26
I understand how the readme could lead to that confusion.

But yeah, when you use a custom file filter, the BBT citekey will need to come from the metadata. Let me know if that doesn't resolve the issue.

[2022-07-26 15:37] daeh opened #27 "require citekey from frontmatter when using custom file filter"
re #26

[2022-08-27 04:50] ghweili opened #28 "zotero scanvault unable to parse 2 of 3 notes, which takes a long time to vanish"
Then the following popups:

![image](https://user-images.githubusercontent.com/33361275/187014835-297587bc-55e1-4dd0-bf50-f277066185c1.png)

This process takes a while, like 20-30 seconds or more, I guess, during which zotero freezes.  Not sure if the freezing behavior can be eliminated.

 I'm using the current settings:

![image](https://user-images.githubusercontent.com/33361275/187014889-698f15

[2022-08-27 05:13] daeh commented on #28
If you upload a debug report (the Advanced tab in prefs, "generate debugging file") and one of the md files you're trying to match, I can take a look. (None of the markdb-connect processes should be taking more than a few seconds)

[2022-08-27 05:30] ghweili commented on #28
The md notes was created by bibnotes formatter; moreover, I didn't keep the citekey in the note title, but only in the yaml.

After chekcing the files generated in Tools/..Sync Tags, I notice that, this problem occurs when the abdminton template of bibnotes formatter is used, for which I can't keep the citekey info in the yaml. After using a customized template with yaml, the problem should be avo

[2022-08-27 05:30] #28 closed

[2022-08-27 23:52] ghweili commented on #28
after more tests, I notice that zotero still freezes during its start:  firstly, the popups related to better bibtex would appear, during which I can still opearte zotero, then, after this popup disappears, and if I click somewhere on zotero, it becomes freeze, and when it recovers, the following popup appear.
![image](https://user-images.githubusercontent.com/33361275/187051749-0b305e4e-ceb2-40c4

[2022-09-12 12:35] Kullenej opened #29 "Zotero crashing"
Hello and thank you for a very needed add-on!

I have been using this add-on for a while, and it has been working perfectly. But recently Zotero crashed every time I tried to open it, and through some debugging with the people at the Zotero forum we finally found that the bug was within this add-on. When i removed it, Zotero could open again. I'm no programmer so will not give any tips on what nee

[2022-09-12 13:11] daeh commented on #29
Woah. Thank you for bringing this to my attention. Will you please give me your system information so that I can better understand this bug?

[2022-09-12 13:43] daeh commented on #29
Since I haven't figured out how to reproduce this bug yet, I'd be very grateful if you are able to test whether the `0.0.19a` pre-release solves your issue:  https://github.com/daeh/zotero-markdb-connect/releases/download/v0.0.19a/MarkDBConnect-0.0.19a.xpi

[2022-09-12 14:06] Kullenej commented on #29
It happened again as soon as I restarted Zotero with the new add-on installed

[2022-09-12 14:07] Kullenej commented on #29
Here is the system error message I get: [System Error Message.txt](https://github.com/daeh/zotero-markdb-connect/files/9548734/System.Error.Message.txt)

[2022-09-12 14:19] daeh commented on #29
Yes, the `0.0.19a` has the `<script src="chrome://zotero/content/include.js"/>` line in `overlay.xul` commented out. I'm not sure why that line would be suspect (and removing it is obviously not sufficient to fix the issue). I'll dig around. Thank you for the feedback on the pre-release and for the system error.

[2022-09-12 21:44] daeh commented on #29
FYI I made another change that's related to the potential race condition, but since I haven't figured out how to reproduce this bug yet I'm shooting in the dark.

One thing that sticks out to me in the zotero debug log that you uploaded to the BBT issue is that MarkDB-connect is raising a warning that your obsidian vault path cannot be found. That shouldn't cause a crash, but I'm wondering if it s

[2022-09-13 11:35] Kullenej commented on #29
Thanks! Yes, I have sometimes changed to a new vault, and that hasn't been a problem with your add-on. Just went into settings and changed the vault path. I have probably not changed that for my latest vault. I will try to fix that as well, and also try your new release. Thank you for your effort. I will upload the debug as soon as possible!

[2022-09-13 16:32] daeh commented on #29
Ok. Go update to the production release and if the crash comes back, just upload the zotero debug log and I'll see if I can gain any more insight into its cause. Thanks for the help troubleshooting. https://github.com/daeh/zotero-markdb-connect/releases/download/v0.0.19/MarkDBConnect-0.0.19.xpi

[2022-09-19 02:18] daeh commented on #29
Hopefully things have been running smoothly with v0.0.19. I'm going to mark this a closed, but please reopen if the problem shows up again, @Kullenej

[2022-09-19 02:18] #29 closed

[2022-10-11 07:11] phretor commented on #20
I can use exports from group libraries now. The point is to support multiple of them. Conflicts could be maybe handled by picking the biggest or most up to date one given the same cite key? 😉

Sent from my iPhone

[2022-10-21 12:04] tim-hilde commented on #26
Would love to see this issue resolved as using non-unicode character like `@` in filenames may lead to issues

[2022-11-27 06:07] Litt7e opened #30 "Locating MD Files is not working"
The  **_Choose_** botton of Folder Containg Markdown Reading Note is not working.  Nothing show up after I click the  **_Choose_** botton.
And I copy the _**file path**_ of md notes in the text box, but the pulug in still can not find md nites.

[2022-11-27 09:08] daeh commented on #30
thanks for bringing to my attention. I introduced a bug in that button when I was working on something else. Upgrade to https://github.com/daeh/zotero-markdb-connect/releases/tag/v0.0.20 and let me know if that resolves your issue or not

[2022-11-27 09:33] Litt7e commented on #30
The **Choose** botton of Folder Containg Markdown Reading Note is working now. But it seems that snyc Tags is not working, I am sure the **file path** is  correct.
![image](https://user-images.githubusercontent.com/44261353/204128344-dd9d83ab-2bf7-49c9-b484-451368006907.png)

[2022-11-27 09:50] daeh commented on #30
I'll need more info to help with that. What's the path, what's the filter filter, and what's an example markdown note that you expect to be matched?

[2022-11-27 10:06] Litt7e commented on #30
The path is the Export Path of BibNotes Formatter. But the Note Title is not {{citekey}}, I change it to {{title}}, I don't know whether it is the problem.
![image](https://user-images.githubusercontent.com/44261353/204129603-4ca74189-3445-4f67-a48c-401871da7b1e.png)
![image](https://user-images.githubusercontent.com/44261353/204129641-900b50a6-3f23-4de2-8381-04a51d249fe6.png)

[2022-11-27 10:18] daeh commented on #30
So it's 2 things.

1) your custom file filter regex is looking for files that begin with `@`. To find your reading notes use `^.+\.md$`.

2) if you're using a custom file filter, you'll need to specify how the plugin should match the markdown files to zotero items. Assuming that you're using BBT, then the citekey needs to be in the metadata, like in the example MD files of the readme:

<img width=

[2022-11-27 10:21] daeh commented on #30
The literature note content template I use is

[code]

(with the title template `@{{citekey}}`)

[2022-11-27 10:39] Litt7e commented on #30
My markdb-connect config is like this:
![image](https://user-images.githubusercontent.com/44261353/204130842-f9039da3-c175-49f6-a415-2c1f03f6ad44.png)
My literature note content template I use is like this
![image](https://user-images.githubusercontent.com/44261353/204130886-d317d85e-1ec9-40b6-b16b-23fa0db1d58b.png)
The error report are:
![image](https://user-images.githubusercontent.com/44261353/

[2022-11-27 17:21] daeh commented on #30
put this in the "Literature note content template"

[code]

<img width="776" alt="CleanShot 2022-11-27 at 12 17 45@2x" src="https://user-images.githubusercontent.com/12652166/204150113-41e7533a-8f7f-451c-a76c-8386f3f85ce1.png">

so that the very top of the MD file begins with

[code]

and put `CiteKey`  in the yaml keyword field of the plugin

[2022-11-28 03:22] Litt7e commented on #30
I have tried to manually modify the Metadata in two ways, it seems that they are both ineffective. And I have made so many notes that I can't bear the consequences of completely regenerating the files in the new format. I'm afraid I have to give up using this plug-in regretfully. Thank you for your help. If the subsequent update allows me to use this plug-in without regenerating notes, I will star

[2022-11-28 03:48] daeh commented on #30
sure. It looks like you're not including the `---` above and below `CiteKey: sonImplantableNeuralStimulator2020`. Markdown metadata (aka frontmatter) is defined by having three dashes at the head of the file and another three dashes at the end the frontmatter. The example MD file in the readme of this plugin gives an example; you can also see the obsidian guide:
https://help.obsidian.md/Advanced+t

[2022-11-28 03:51] daeh commented on #30
closed by ce46c9b3496c44a33d99288f6d311ee5389a9978

[2022-11-28 03:51] #30 closed